<ion-content no-bounce>
	<div class="basket-modal" *ngIf="!isSend">
		<h3>Ваш заказ:</h3>

		<div class="basket-modal__goods">
			<div class="basket-modal__goods-item" *ngFor="let product of products">
				<div class="basket-modal__goods-image" [style.background-image]="'url(' + product.image_url + ')'"></div>
				<div class="basket-modal__goods-info">
					<div class="basket-modal__goods-name">{{product.title}}</div>
					<div class="basket-modal__goods-count">{{basketProducts[product.id]}} x </div>
					<div class="basket-modal__goods-price">
						{{basketProducts[product.id]*product.price | currency}}
					</div>
				</div>
			</div>
		</div>
		<h4 class="basket-modal__goods-sum">Итого к оплате: {{sum | currency}}</h4>

		<div class="basket-modal__user-info">
			<div class="basket-modal__user-info-item">ФИО: {{params.get('fio')}}</div>
			<div class="basket-modal__user-info-item">Телефон: {{params.get('phone')}}</div>
			<div class="basket-modal__user-info-item">Email: {{params.get('email')}}</div>
		</div>

		<div class="basket-modal__user-info-radio" *ngIf="delivery">
			<div class="basket-modal__user-info-radio-image">
				<img [src]="delivery.image_url">
			</div>
			<div class="basket-modal__user-info-radio-text">
				<h4>Доставка: {{delivery.name}}</h4>
				<div class="basket-modal__user-info">
					<div class="basket-modal__user-info-item" *ngIf="params.get('city')">
						Город: {{params.get('city')}}
					</div>
					<div class="basket-modal__user-info-item" *ngIf="params.get('department')">
						№ отделения: {{params.get('department')}}
					</div>
					<div class="basket-modal__user-info-item" *ngIf="params.get('address')">
						Адресс: {{params.get('address')}}
					</div>
				</div>
			</div>
		</div>
		<div class="basket-modal__user-info-radio" *ngIf="payment">
			<div class="basket-modal__user-info-radio-image">
				<img [src]="payment.image_url">
			</div>
			<div class="basket-modal__user-info-radio-text">
				<h4>Оплата: {{payment.name}}</h4>
			</div>
		</div>

		<button ion-button color="primary" round class="blue" (click)="onSubmit()" [disabled]="sum === 0">Подтвердить</button>
	</div>

	<div class="basket-modal basket-modal--success" *ngIf="isSend">
		<h2>Спасибо за Ваш заказ!</h2>
		<img src="assets/images/icons/about.svg">
		<h3>Наш менеджер скоро свяжеться с Вами для уточнения деталей</h3>
		<button ion-button color="primary" round class="yellow" (click)="close()">Закрыть</button>
	</div>
</ion-content>