.basket-modal{
	background-color: white;
	padding: 20px 50px;
	font-family: $base-font;
	color: $color-title-black;
	display: inline-block;
	width: 100%;
	height: 100%;

	@media (max-width: 320px) {
		padding: 20px;
	}
	&__goods{
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $color-text;
	}
	&__goods-item{
		display: flex;
		align-items:center;
	}
	&__goods-image{
		width: 60px;
		height: 60px;
		border-radius: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__goods-info{
		padding: 20px;
	}
	&__goods-name{
		font-size: 16px;
		margin-bottom: 10px;
	}
	&__goods-count{
		display: inline-block;
	}
	&__goods-price{
		display: inline-block;
		@include _heading-4();
	}

	&__goods-sum{
		text-align: left;
	}
	&__user-info{
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
	}
	&__user-info-item{
		padding: 10px 10px 10px 0;
		width: 50%;
		float: left;
		@media (max-width: 320px) {
			width: 100%;
			float: none;
		}
	}
	&__user-info-radio{
		display: flex;
		align-items:center;
	}
	&__user-info-radio-image{
		width: 40px;
		height: 40px;
		margin-right: 20px;
		img{
			height: 100%;
		}
	}
	&__user-info-radio-text{
		width: calc(100% - 60px;)
	}

	.button {
		float: right;
		margin: 40px 0;
	}

	&--success{
		text-align: center;
		padding-top: 50px;
		img{
			width: 130px;
			margin-top: 30px;
			margin-bottom: 20px;

		}

		.button{
			float: none;
		}
	}
}