.nav-footer{
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	padding: 22px 70px;
	&__copyrights{
		font-family: $base-font;
		width: 100%;
		text-align: left;
		font-size: 10px;
		z-index: 10;
		color: $color-grey;
		display: none;
		img{
			margin-bottom: 10px;
		}
		@media(max-width: 1440px) {
			display: block;
		}

	}

	@media(max-width: 1024px) {
		padding: 50px 70px;
	}


	@media(max-width: 768px) {
		position: relative;
		padding: 50px 0;
	}


	@media(max-width: 580px) {
		padding: 50px 0 0 0;
	}
}

.catalog-page, .main-page {
	.nav-footer{
		padding-left: 120px;
		@media (max-width: 1024px) {
			padding: 30px 50px;
			.basket-badge {
				bottom:30px;
			}
		}
		@media(max-width: 768px) {
			position: absolute;
			.basket-badge {
				right: 50px;
			}
		}
		@media(max-width: 580px) {
			position: relative;
			padding: 25px;
			.basket-badge {
				right: 25px;
			}
		}
	}
}