<div class="nav-footer">
	<div class="nav-footer__copyrights">
		<a [href]="env.reference">
			<img src="assets/images/menu/relogo.png">
		</a>
		<div>© 2018 Pozitiff. All rights reserved</div>
	</div>
	<basket-badge></basket-badge>
</div>