.basket-badge{
	position: absolute;
	bottom: 70px;
	right: 70px;
	width: 80px;
	height: 80px;
	background-color: white;
	background-image: url($pathImages + 'icons/basket.svg');
	background-position: center center;
	background-size: 50px;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
	z-index: 10;
	cursor: pointer;
	color: $color-title-black;
	&__count {
		font-family: $base-font-bold;
		position: absolute;
	    bottom: 21px;
	    right: 20px;
	    width: 20px;
	    text-align: center;
	}

	@media(max-width: 1440px) {
		right: 50px;
		bottom:22px;
	}

	@media(max-width: 1024px) {
	    right: 50px;
	    bottom: 48px;
		width: 60px;
		height: 60px;
		background-size: 40px;
		&__count {
			font-size: 12px;
		    right: 12px;
		    bottom: 14px;
		}
	}

	@media(max-width: 768px) {
		right: 0;
	}

	@media(max-width: 580px) {
		bottom: 0;
	}
}
