<div class="catalog-categories" [class.open]="isOpen">
	<ion-slides slidesPerView="6" direction="vertical">
	  <ion-slide *ngFor="let item of categories">
	    <div class="catalog-categories__title" (click)=goTo(item)>{{item.title}}</div>
	  </ion-slide>
	</ion-slides>
	<div class="arrow-up" (click)="prev()" *ngIf="!slides.isBeginning()">
		<img src="assets/images/icons/arrow-{{color}}.svg">
	</div>
	<div class="arrow-down" (click)="next()" *ngIf="!slides.isEnd()">
		<img src="assets/images/icons/arrow-{{color}}.svg">
	</div>
</div>
