.catalog-categories{
	color: white;
	font-family: $base-font-bold;
	font-size: 18px;
	position: absolute;
	display: block;
	right: 40px;
	width: 360px;
	top:0;
	height: 350px;
	padding-right: 40px;
	z-index: 5;


	&__title{
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	@media(max-width: 1580px) {
		width: 300px;
	}
	.slide-zoom {
		text-align: right;
		@media(max-width: 1580px) {
			font-size: 16px;
		}
		@media(max-width: 1024px) {
			text-align: center;
		}
	}
	.swiper-slide-active{
		font-size: 29px;

		@media(max-width: 1580px) {
			.slide-zoom {
				font-size: 24px;
			}
		}
	}
	.arrow-up, .arrow-down{
		position: absolute;
		right: 0;
		cursor: pointer;
	}
	.arrow-up{
		top:15px;
	}

	.arrow-down{
		bottom:15px;
		transform:rotate(180deg);
	}

	@media(max-width: 1024px) {
		right: -100%;
		margin: 10px 20px;
		transition:0.4s all;
		width: calc(100% - 40px);
		display: block;
		padding-left: 40px;
		&.open{
			right: 0px;
		}
	}
}
