<ion-content class="main-page" no-bounce>
	<nav-header></nav-header>
	<div class="wrap">
		<div class="info">
			<div class="logo main-logo-animate">
				<img src="assets/images/logo.png">
			</div>
			<div class="phones main-phones-animate">
				<a *ngFor="let phone of env.phones" [href]="phone.link">{{phone.title}}</a>
			</div>
			<a href="mailto:{{env.email}}" class="main-email-animate">{{env.email}}</a>

			<div class="map">
				<div class="map-title">Мы всегда рады видеть вас в нашем магазине</div>
				<img src="assets/images/icons/label.png">
				<div><a [href]="env.address.link">{{env.address.title}}</a></div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-item">
				<div class="footer-icon">
					<img src="assets/images/icons/delivery3.svg">
				</div>
				<div class="footer-info">
					<div class="footer-title">Наш адрес</div>
					Мы всегда рады видеть вас в нашем магазине <br>
					<a [href]="env.address.link">{{env.address.title}}</a>
				</div>
			</div>
			<div class="footer-item">
				<div class="footer-icon">
					<img src="assets/images/icons/share.svg">
				</div>
				<div class="footer-info">
					<div class="footer-title">Мы в социальных сетях</div>
					Следите за новыми работами и скидками
				</div>
			</div>

			<div class="footer-item footer-item--social">
				<a [href]="env.socials.fb" class="footer-icon">
					<img src="assets/images/icons/fb.svg">
				</a>
			</div>
			<div class="footer-item footer-item--social">
				<a [href]="env.socials.instagram" class="footer-icon">
					<img src="assets/images/icons/instagram.svg">
				</a>
			</div>
		</div>

		<img class="balloons" src="assets/images/bg/balloon4.svg">
		<img class="balloon-1" src="assets/images/bg/balloon1.png">
		<img class="balloon-2" src="assets/images/bg/balloon2.svg">
		<img class="balloon-3" src="assets/images/bg/balloon3.svg">
		<nav-footer></nav-footer>
	</div>
</ion-content>
