.main-page{
    @include _mix-bg();
    color: $color-title;
    padding-left: $aside-width;
    font-family: $base-font;

    .wrap{
        position: relative;
        overflow: hidden;
        min-width: 100%;
        min-height: 100%;
        @media(max-width: 1024px) {
            @include _mix-tablet-bg();
        }
        @media(max-width: 768px) {
            @include _mix-tablet-small-bg();
        }

        @media(max-width: 580px) {
            @include _mix-mobile-bg();
        }
    }
    .scroll-content {
        overflow-y: hidden;
        @media(max-width: 580px) {
            overflow-y:scroll;
        }
    }
    .info{
        top: 25vh;
        left:$aside-width;
        font-size: 18px;
        text-align: center;
        width: calc(30vw);
        margin-left: 12vw;
        position: absolute;
        z-index: 3;

        @media(max-width: 1680px) {
            top: 20vh;
            margin-left:8vw;
        }

        @media(max-width: 1580px) {
            width: calc(30vw);
            font-size: 16px;
        }

        @media(max-width: 1440px) {
            left:$aside-width-small;
            margin-left: 20vw;
        }

        @media(max-width: 1024px) {
            width: 370px;
            left: 50%;
            margin: 0;
            top:30px;
            transform:translateX(-50%);
        }
        @media(max-width: 768px) {
            top:10vh;
        }
        @media(max-width: 580px) {
            width: 240px;
            font-size: 14px;
            position: relative;
            top:0;
            margin-top: 10vh;
            padding-bottom: 60px;
            a{
                display: block;
            }
        }

    }
    .logo{
        img{
            width: 100%;
        }
    }
    a {
        color: $color-title;
        text-decoration: none;
    }

    .map{
        display: none;
        text-align: center;
        margin-top: 35px;
        img{
            margin: 20px 0;
        }
        @media(max-width: 1024px) {
            display: block;
        }
    }
    .main-email-animate{
        display: block;
    }

    .map-title{
        font-size: 20px;
        font-family: $base-font-bold;
        margin-bottom: 10px;

        @media(max-width: 580px) {
            font-size: 18px;
        }
    }

    .phones {
        font-family: $base-font-bold;
        font-size: 24px;
        margin: 30px 0 15px;
        @media(max-width: 580px) {
            font-size: 18px;
        }
        a ~ a {
            padding-left: 40px;
            @media(max-width: 580px) {
                padding-left: 0;
            }
        }
        @media(max-width: 1580px) {
            font-size: 18px;
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        left:$aside-width;
        padding: 30px;
        display: flex;
        align-items: center;
        color: $color-title-black;
        line-height: 21px;
        z-index: 10;
        a{
            color: $color-blue;
            text-decoration: underline;
        }

        @media(max-width: 1440px) {
            left:$aside-width-small;
            bottom: 60px;
        }
        @media(max-width: 1024px) {
            left: 0;
        }

        @media(max-width: 768px) {
            bottom:100px;
        }
        @media(max-width: 580px) {
            position: relative;
            bottom: inherit;
            font-size: 12px;
        }
        @media(max-width: 580px) {
            padding: 10px;
            display: inline-block;
            width: 100%;
            padding-bottom: 0;
        }
    }

    .footer-item{
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media(max-width: 1024px) {
            &:first-of-type{
                display: none;
            }
        }
        @media(max-width: 580px) {
            float: left;
            &--social{
                margin: 0px 0 0 0;
                margin-left: 50px;
                &:last-of-type{
                    margin-left: 0;
                }
            }
        }
    }

    .footer-icon{
        display: block;
        width: 40px;
        height: 40px;
        margin: 20px;
    }

    .footer-title{
        @include _heading-4();
        margin-bottom: 14px;
        @media(max-width: 580px) {
            font-size: 14px;
        }
    }

    .copyrights{
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $color-title-black;
        font-size: 10px;
        padding: 40px;
        width: 100%;
        img{
            margin-bottom: 10px;
        }
        @media(max-width: 768px) {
            display: block;
        }

        @media(max-width: 580px) {
            position: relative;
            padding: 30px;
            padding-top: 10px;
        }
    }

    .balloons{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 430px;
        opacity: 0;
        z-index: 3;
        @media(max-width: 1580px) {
            width: 350px;
        }
        @media(max-width: 1440px) {
            width: 300px;
        }
        @media(max-width: 768px) {
            width: 280px;
            margin-right: -100px;
            margin-bottom: 100px;
        }

        @media(max-width: 580px) {
            width: 180px;
        }
    }
    .balloon-1{
        position: absolute;
        left: $aside-width;
        transform:translateX(60%);
        top:7vh;
        z-index: 3;
        transition: 0.3s all;

        @media(max-width: 1440px) {
            left:$aside-width-small;
        }
        @media(max-width: 1024px) {
            left:0;
            top:-10%;
        }

        @media(max-width: 580px) {
            display: none;
        }
    }
    .balloon-2{
        position: absolute;
        left: $aside-width;
        bottom:17vh;
        z-index: 3;
        transition: 0.3s all;
        width: 150px;
        opacity: 0;
        @media(max-width: 1580px) {
            bottom:0vh;
            left: 200px;
        }
        @media(max-width: 1440px) {
            width: 120px;
            left:$aside-width-small;
        }
        @media(max-width: 1024px) {
            left: 0;
            width: 100px;
            bottom:10vh;
        }
        @media(max-width: 580px) {
            width: 80px;
            bottom: 40vh;
        }
    }

    .balloon-3{
        position: absolute;
        right: 0;
        top:15vh;
        width: 150px;
        filter: blur(15px);
        z-index: 3;
        transition: 0.3s all;
        @media(max-width: 580px) {
            display: none;
        }
    }
}

