.menu{
	width: $aside-width;
	height: 100%;
	font-family: $base-font;
	box-shadow: 0 0 54px rgba(0,0,0,0.15);
	font-size: 12px;
	position: relative;
	padding-bottom: 120px;
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
	background-color: white;
	animation: slideLeft forwards 1s;
	transform:translateX(-100%);

    @media(max-width: 1440px) {
    	width: $aside-width-small;
    	padding: 0px;
    }

    @media(max-width: 1024px) {
		transform:translateX(-100%);
    	padding-top: 80px;
    	width: 100%;
     	overflow: scroll;
     	animation: none;
     	transition:0.3s all;
    	&--open{
     		transition:0.3s all;
			transform:translateX(0%);
    	}
    }

	&__logo{
		padding: 30px;
		display: block;
		@media(max-width: 1440px) {
			display: none;
		}
		&--small{
			display: none;
    		padding: 15px;
			@media(max-width: 1440px) {
				display: block;
			}
			@media(max-width: 1024px) {
				display: none;
			}
		}
	}
	&__item-wrap{
		position: relative;
		display: block;
		text-decoration: none;
		@media(max-width: 1440px) {
			&:hover{
				.menu__tooltip{
					transform:translateX($aside-width-small);
					padding-left: 15px;
					opacity: 1;
				}
			}
		}
		margin: 10px 0;
	}

	&__tooltip{
		display: none;
		position: absolute;
		top:0;
		height: 100%;
		left: 0;
		width: 160px;
		align-items:center;
		transition: 0.3s all;
		color: $color-title-black;
		transform:translateX(100%);
		opacity: 0;
        pointer-events:none;
		@media(max-width: 1440px) {
			display: flex;
		}
		@media(max-width: 1024px) {
			display: none;
		}
	}
	&__item{
		display: flex;
		text-decoration: none;
		color: $color-title-black;
		align-items: center;
		cursor: pointer;
		position: relative;
		background: transparent!important;
	    box-shadow: none!important;
	    margin: 0;
	    height: auto;
	    width: 100%;
     	font-size: 12px;
		padding:0 30px;
		overflow: hidden;
		text-decoration: none;
	    .button-inner{
		    justify-content: left;
		    text-transform: none;
		    overflow: visible;
	    }

	    &--yellow {
	    	.button-effect{
	    		background-color: $color-yellow;
	    	}
	    	&:active,.activated{
	    		color: $color-yellow-dark;
	    	}
	    }

	    &--blue {
	    	.button-effect{
	    		background-color: $color-blue;
	    	}
	    	&:active,.activated{
	    		color: $color-blue-dark;
	    	}
	    }

		@media(max-width: 1440px) {
			padding: 0 15px;
		}
		@media(max-width: 1024px) {
			padding:0 60px;
		}
	}
	&__icon{
		width: 50px;
		height: 50px;
		padding: 10px;
		img{
			height: 100%;
		}
	}
	&__title{
		@media(max-width: 1440px) {
			display: none;
		}
		@media(max-width: 1024px) {
			display: block;
		}
	}

	&__footer{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 10px;
		padding-bottom: 22px;
		background: white;
		img{
			margin-bottom: 30px;
		}
		@media(max-width: 1440px) {
			display: none;
		}
		@media(max-width: 1024px) {
			display: block;
			position: relative;
			padding-top: 40px;
			padding-bottom: 30px;
		}
	}
}

@keyframes slideLeft {
	from{
		transform:translateX(-100%);
	}
	to{
		transform:translateX(0%);
	}
}