<div class="menu" [class.menu--open]="navHeader.menuOpen">
	<nav-header></nav-header>
	<div (click)="nav.goHome()" class="menu__logo">
		<img src="assets/images/menu/logo.png">
	</div>
	<div  (click)="nav.goHome()" class="menu__logo--small">
		<img src="assets/images/menu/logo-small.png">
	</div>
	<div class="menu__item-wrap" *ngFor="let item of menuItems" (click)="goTo(item.page, item.category)">
		<button ion-button color="light" class="menu__item menu__item--{{item.color}}">
			<div class="menu__icon">
				<img src="assets/images/icons/{{item.icon}}.svg">
			</div>
			<div class="menu__title">{{item.name}}</div>
		</button>
		<div class="menu__tooltip">{{item.name}}</div>
	</div>
	<div class="menu__footer">
		<a [href]="env.reference" target="_blank">
			<img src="assets/images/menu/relogo.png">
		</a>
		<div>© 2018 Pozitiff. All rights reserved</div>
	</div>
</div>

