<ion-content class="static-page contact-page blue" no-bounce>
	<nav-header></nav-header>
	<div class="static-page__wrap" *ngIf="page">
		<div class="static-page__left"  animate-image>
			<div class="static-page__image" [style.background-image]="'url(' + page.image_url + ')'">
			</div>
		</div>
		<div class="static-page__right" animate-aside>
			<h1 #title class="static-page__title blue">{{page.name}}</h1>
			<div #description class="static-page__description" [innerHTML]="page.description">
			</div>

			<ul #list class="static-page__list">
				<li class="static-page__list-item">
					<div class="static-page__list-item-image">
						<img src="assets/images/icons/contact1.svg">
					</div>
					<div class="static-page__list-item-info">
						<div class="static-page__list-item-title">Позвони нам</div>
						<div class="static-page__list-item-description">
							<a *ngFor="let phone of env.phones" [href]="phone.link">{{phone.title}}<br></a>
							<a href="mailto:{{env.email}}">{{env.email}}</a>
						</div>
					</div>
				</li>
				<li class="static-page__list-item">
					<div class="static-page__list-item-image">
						<img src="assets/images/icons/delivery3.svg">
					</div>
					<div class="static-page__list-item-info">
						<div class="static-page__list-item-title">Наш адрес</div>
						<div class="static-page__list-item-description">
							Мы всегда рады видеть вас в нашем магазине <br>
							<a [href]="env.address.link" target="_blank">{{env.address.title}}</a>
						</div>
					</div>
				</li>
				<li class="static-page__list-item">
					<div class="static-page__list-item-image">
						<img src="assets/images/icons/share.svg">
					</div>
					<div class="static-page__list-item-info">
						<div class="static-page__list-item-title">Мы в социальных сетях</div>
						<div class="static-page__list-item-description">
							Следите за новыми работами и скидками <br>
							<a [href]="env.socials.fb" class="static-page__list-item-image">
								<img src="assets/images/icons/fb.svg">
							</a>
							<a [href]="env.socials.instagram" class="static-page__list-item-image">
								<img src="assets/images/icons/instagram.svg">
							</a>
						</div>
					</div>
				</li>
			</ul>
			<nav-footer></nav-footer>
		</div>
	</div>
</ion-content>