
.mobile-header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    @media(max-width: 1024px) {
    	display: inline-block;
    	.menu__logo--small{
    		display: inline-block;
    	}
        }
    .menu-button {
        background: transparent!important;
        position: absolute;
        right: 0;
        top:17px;
        box-shadow: none!important;
        .menu-block{
        	display: block;
    		background-color: white;
    		position: relative;
    		height: 3px;
    		border-radius: 2px;
    		width: 20px;
    		margin: 12px 0;
    		transition: 0.3s all;
    		&:before, &:after{
    			content: "";
    			position: absolute;
    			right: 0;
    			background-color: white;
    			height: 3px;
    			border-radius: 2px;
    			width: 27px;
    			transition: 0.3s all;
    		}
    		&:before{
    			top:-12px;
    		}
    		&:after{
    			bottom: -12px;
    		}

    		.button-effect{
        		background-color: $color-blue-dark;
        	}

            @media (max-width: 1024px) {
                background-color: $color-title-black;
                &:before, &:after {
                    background-color: $color-title-black;
                }
            }

            @media (max-width: 768px) {
                background-color: white;
                &:before, &:after {
                    background-color: white;
                }
            }

        }

        &--open{
        	.menu-block{
        		background-color: transparent;
        		&:before, &:after{
        			background-color: $color-title-black;
        		}
        		&:before{
        			top:0;
        			transform: rotate(45deg);
        		}

        		&:after{
        			bottom:0;
        			transform: rotate(-45deg);
        		}
        	}
        }
    }
}
