<div class="mobile-header">
	<div (click)="goHome()" class="menu__logo--small">
		<img src="assets/images/menu/logo-small.png">
	</div>

	<button ion-button color="light" class="menu-button" [class.menu-button--open]="navHeader.menuOpen" (click)="navHeader.toogleMenu()">
		<span class="menu-block"></span>
	</button>
</div>