.catalog-page{
	@include _backgrounds();
	&.open-category{
		.scroll-content {
			overflow: hidden!important;
		}
	}
	.scroll-content {
        overflow-y: hidden;
        @media(max-width: 580px) {
            overflow-y:scroll;
        }
    }
	.catalog{
		position: relative;
		padding-right: $category-width;
	    padding-left: $aside-width;
	    margin-left: 20px;
	    height: 85vh;
	    position: absolute;
	    left: 0;
	    width: 100%;
	    top:12vh;
	    z-index: 5;
	    @media(max-width: 1440px) {
	        padding-left:$aside-width-small;
	    }

	    @media(max-width: 1580px) {
			padding-right: 320px;
		}
		@media(max-width: 1024px) {
			padding: 0 40px;
			margin-left: 0;
			top:60px;
		}

		@media(max-width: 767px) {
			position: relative;
			padding: 0 20px;
			height: auto;
			top:0;
		}
	}
	h1{
		height: 15vh;
		text-align: right;
		padding: 40px;
		color: white;
		font-size: 36px;
		display: flex;
		align-items:center;
		justify-content:flex-end;
		margin: 0;
		@media(max-width: 1024px) {
		    font-size: 24px;
		    display: block;
		    text-align: center;
		    height: 80px;
		    margin: 0px 80px;
		    position: absolute;
		    z-index: 10;
		    padding: 30px 0;
		    width: calc(100% - 160px);
		}
		@media(max-width: 767px) {
			position: relative;
			font-size: 18px;
			margin: 80px 0 0 0;
			padding: 5px 30px;
			width: 100%;
			height: auto;
		}
	}
	.arrows-wrap{
		position: relative;
	}
	.arrows{
		position: absolute;
	    margin: 0 60px;
	    left: 0;
	    bottom: 0;
	    height: 15vh;
	    width: calc(100% - 120px);
		.arrow-prev, .arrow-next{
			position: absolute;
	    	z-index: 7;
			top:0;
			cursor: pointer;
		}
		.arrow-prev{
			left: 0;
			transform:rotate(-90deg);
		}
		.arrow-next{
			right: 0;
			transform:rotate(90deg);
		}
	}




    .general-img{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(0%, 35%);
        transition: 0.3s all;
        animation: generalImg 1s forwards;
   		width: 460px;
        pointer-events:none;
        @media(max-width: 1580px) {
            width: 350px;
        }
        @media(max-width: 1440px) {
            width: 300px;
            transform: translate(0%, 35%);
        }
        @media(max-width: 1024px) {
            transform: translate(40%, 25%);
        }
        @media(max-width: 768px) {
            transform: translate(40%, 5%);
        }

        @media(max-width: 580px) {
            width: 180px;
            transform: translate(50%, 45%);
        }
    }
    /*
    .blur{
    	filter: blur(15px);
    }
    .balloon-1{
        position: absolute;
        left: $aside-width;
        transform:translateX(60%);
        top:7vh;
        z-index: 1;
        transition: 0.3s all;
        max-width: 200px;
        animation: balloon1 1s forwards;
        pointer-events:none;
        @media(max-width: 1440px) {
            left:$aside-width-small;
        }
        @media(max-width: 1024px) {
            left:0;
            top:-10%;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }
    .menu-image{
        position: absolute;
        left: $aside-width;
        bottom:17vh;
        z-index: 6;
        transition: 0.3s all;
        animation: menuImage 1s forwards;
        width: 150px;

        pointer-events:none;
        &__left{
        	margin-left: -20px;
        }
        @media(max-width: 1580px) {
            bottom:0vh;
            left: 200px;
        }
        @media(max-width: 1440px) {
            left:$aside-width-small;
        }
        @media(max-width: 1024px) {
            left: 0;
        }
        @media(max-width: 767px) {
            display: none;
        }
    }

    .balloon-3{
        position: absolute;
        right: 0;
        top:15vh;
        z-index: 1;
        transition: 0.3s all;
        animation: balloon1 1s forwards;
        max-width: 200px;
        pointer-events:none;
        @media(max-width: 767px) {
            display: none;
        }
    }

    .flowers-1{}
    .flowers-2{}*/
     .swiper-container-horizontal > .swiper-pagination-bullets {
	    height: 15vh;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    bottom:0;
	    @media(max-width: 767px) {
	    	display: none;
	    }
	}

	.swiper-pagination-bullet{
		height: 14px;
		width: 14px;
		opacity: 1;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	    margin: 0 15px;
	}

	.swiper-pagination-bullet-active {
	    background: white!important;
		height: 21px;
		width: 21px;
	}

	.category-open{
		display: none;
		transform:rotate(180deg);
		margin-left: 10px;
		@media(max-width: 1024px) {
			display: inline-block;
		}
	}

	.catalog-inner{

		@media(max-width: 1024px) {
		transition:0.4s all;
		opacity: 1;
			&.open-category{
				transition:0.4s all;
				transform: translateY(100%);
				opacity: 0;
			}
		}
	}

	&__loader{
		margin: 250px auto;
		color: white;
		font-family: $base-font-bold;
		font-size: 16px;
		@media(max-width: 580px) {
			margin: 100px auto;
		}
	}
	ion-spinner {
		display: table;
		margin: 80px auto;
	    width: 40px !important;
	    height: 40px !important;
		& > svg {
		    width: 80px !important;
		    height: 80px !important;
		}
		 circle {
		    stroke: white;
		}
	}
}
@keyframes menuImage {
	from{
        bottom:-100%;
	}
	to{}
}
@keyframes balloon1 {
	from{
        top:-100%;
	}
	to {}
}
@keyframes generalImg {
	from{
        transform: translate(100%, 100%);
	}
	to {}
}