<ion-content class="catalog-page" [ngClass]="currentTheme.color" no-bounce [class.open-category]="isOpenCategory">
	<nav-header></nav-header>
	<h1 (click)="toogleCategory()">{{title}}<div class="category-open"><img src="assets/images/icons/arrow-white.svg"></div></h1>
	<div class="catalog">
		<div class="catalog-inner" [class.open-category]="isOpenCategory">
			<ion-slides [slidesPerView]="limit" pager="true" (ionSlideDidChange)="onSlideDidChange($event)">
			  <ion-slide *ngFor="let product of products">
			    <catalog-item [product]="product" [color]="currentTheme.color"></catalog-item>
			  </ion-slide>
			  <ion-slide *ngIf="showLoader()">
			  	<div class="catalog-page__loader">
				  	<ion-spinner name="crescent"></ion-spinner>
				  	Загружаем еще товары...
				</div>
			  </ion-slide>
			</ion-slides>
			<div class="arrows-wrap">
				<div class="arrows">
					<div class="arrow-prev" (click)="prev()" *ngIf="!slides.isBeginning()">
						<img src="assets/images/icons/arrow-{{currentTheme.color}}.svg">
					</div>
					<div class="arrow-next" (click)="next()" *ngIf="!slides.isEnd()">
						<img src="assets/images/icons/arrow-{{currentTheme.color}}.svg">
					</div>
				</div>
			</div>
		</div>
		<catalog-categories [categories]="categories" [color]="currentTheme.color" [isOpen]="isOpenCategory" (openCategory)="changeCategory($event)"></catalog-categories>
	</div>

	
	<img class="general-img" *ngIf="currentTheme.theme==='balloons'" src="assets/images/bg/balloon5.svg">
	<!--<img class="balloon-1 blur" *ngIf="currentTheme.theme==='balloons'" src="assets/images/bg/balloon2.svg">
	<img class="menu-image" *ngIf="currentTheme.theme==='balloons'" src="assets/images/bg/balloon2.svg">
	<img class="balloon-3 blur" *ngIf="currentTheme.theme==='balloons'" src="assets/images/bg/balloon3.svg">-->



	<img class="general-img" *ngIf="currentTheme.theme==='flowers'" src="assets/images/bg/flowers03.svg">
	<!--<img class="menu-image menu-image__left" *ngIf="currentTheme.theme==='flowers'" src="assets/images/bg/flowers01.svg">
	<img class="balloon-1" *ngIf="currentTheme.theme==='flowers'" src="assets/images/bg/flowers02.svg">
	-->
	<img class="general-img menu-image__left" *ngIf="currentTheme.theme==='gifts'" src="assets/images/bg/gift1.svg">
	<!--<img class="balloon-1 blur" *ngIf="currentTheme.theme==='gifts'" src="assets/images/bg/gift2.svg">
	<img class="balloon-3 blur" *ngIf="currentTheme.theme==='gifts'" src="assets/images/bg/gift3.svg">
	<img class="menu-image menu-image__left" *ngIf="currentTheme.theme==='gifts'" src="assets/images/bg/gift4.svg">-->
	<nav-footer></nav-footer>
</ion-content>