<ion-content class="static-page payment-page yellow" no-bounce>
	<nav-header></nav-header>
	<div class="static-page__wrap" *ngIf="page">
		<div class="static-page__left" animate-image>
			<div class="static-page__image" [style.background-image]="'url(' + page.image_url + ')'"></div>
		</div>
		<div class="static-page__right" animate-aside>
			<h1 #title class="static-page__title yellow">{{page.name}}</h1>
			<div #description class="static-page__description" [innerHTML]="page.description">
			</div>

			<ul #list class="static-page__list" *ngIf="payments.length > 0">
				<li class="static-page__list-item" *ngFor="let payment of payments">
					<div class="static-page__list-item-image">
						<img [src]="payment.image_url">
					</div>
					<div class="static-page__list-item-info">
						<div class="static-page__list-item-title">{{payment.name}}</div>
						<div class="static-page__list-item-description">
							{{payment.description}}
						</div>
					</div>
				</li>
			</ul>

			<img #illustartion class="static-page__illustration" [src]="page.illustration_url">
			<nav-footer></nav-footer>
		</div>
	</div>
</ion-content>