.order-page{
	.static-page__title{
		margin-top: 0px;
		@media(max-width: 1024px) {
			margin-top: 0;
		}
	}
	.static-page__right{
		@media(max-width: 1024px) {
			width: 60%;
		}

		@media(max-width: 768px) {
			width: 100%;
		}
	}

	.static-page__left{
		@media(max-width: 1024px) {
			width: 40%;
		}
		@media(max-width: 768px) {
			width: 100%;
		}
	}

	h3{
		@media(max-width: 1024px) {
			margin: 0;
		}
	}

	.button {
		float:right;
	}

	&__form{
		display: inline-block;;
		width: 100%;
		padding-bottom: 40px;
	}

	&__form-fields{
		margin: 0px -16px;
		display: inline-block;
		width: 100%;
		@media(max-width: 1024px) {
			margin: 0px -16px;
		}
		ion-item{
			width: 50%;
			float: left;
			margin-bottom: 20px;
			@media(max-width: 580px) {
				width: 100%;
			}
		}
	}

	&__radio{
		margin: 10px -16px;
		display: inline-block;
		width: calc(100% + 32px);

		ion-label{
			display: flex;
			align-items:center;
			font-size: 13px;
			overflow: auto;
			white-space: normal;
		}
		ion-item{
			width: 33.333%;
			float: left;
			margin-bottom: 20px;
			opacity: 0.5;
			filter: grayscale(1);
			.item-inner {
				border-bottom: 0px!important;
			}

			&.item-radio-checked{
				opacity: 1;
				filter:none;
			}

			@media(max-width: 580px) {
				width: 50%;
			}

			@media(max-width: 375px) {
				width: 100%;
			}
		}
		img{
			width: 40px;
			height: 40px;
			margin-right: 15px;
		}

		ion-radio{
			opacity: 0;
			margin: 0!important;
			top:0;
			left: 0;
			position: absolute!important;
			width: 100%;
    		height: 100%;
		}
	}
}