<ion-content class="static-page order-page yellow" no-bounce>
	<nav-header></nav-header>
	<div class="static-page__wrap">
		<div class="static-page__left" animate-image>
			<basket-order [(sum)]="sum"></basket-order>
		</div>
		<div class="static-page__right" animate-aside>
			<h1 class="static-page__title yellow">Корзина</h1>
			<div class="static-page__description">
				Заполните контактную информацию чтобы мы могли с вами связаться для уточнения заказа
			</div>
 			<form (ngSubmit)="onSubmit()" [formGroup]="orderForm" class="form order-page__form" *ngIf="isFormLoaded">
				<div class="order-page__form-fields">
					<ion-item>
						<ion-label color="primary">ФИО:</ion-label>
	    				<ion-input formControlName="fio"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label color="primary">Телефон:</ion-label>
	    				<ion-input formControlName="phone"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label color="primary">Email:</ion-label>
	    				<ion-input formControlName="email"></ion-input>
					</ion-item>
				</div>
				<h3>Выберите способ доставки:</h3>
				<ion-list radio-group formControlName="delivery" class="order-page__radio" (ionChange)="changeDelivery()">
					<ion-item *ngFor="let delivery of deliveries">
					    <ion-label>
					    	<img [src]="delivery.image_url">
					    	{{delivery.name}}
					    </ion-label>
					    <ion-radio [value]="delivery.id"></ion-radio>
					 </ion-item>
				</ion-list>

				<div *ngIf="getDelivery().postal" class="order-page__form-fields">
					<ion-item>
						<ion-label color="primary">Город:</ion-label>
	    				<ion-input formControlName="city"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label color="primary">№ отделения:</ion-label>
	    				<ion-input type="number" formControlName="department"></ion-input>
					</ion-item>
				</div>
				<div *ngIf="getDelivery().link" class="static-page__description">
					Мы всегда рады видеть вас в нашем магазине <br>
					<a [href]="env.address.link" target="_blank">{{env.address.title}}</a>
				</div>
				<div *ngIf="getDelivery().addres" class="order-page__form-fields">
					<ion-item>
						<ion-label color="primary">Город:</ion-label>
	    				<ion-input formControlName="city"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label color="primary">Адресс:</ion-label>
	    				<ion-input formControlName="address"></ion-input>
					</ion-item>
				</div>
				<h3>Выберите способ оплаты:</h3>
				<ion-list radio-group formControlName="payment" class="order-page__radio">
					<ion-item *ngFor="let payment of payments">
					    <ion-label>
					    	<img [src]="payment.image_url">
					    	{{payment.name}}
					    </ion-label>
					    <ion-radio [value]="payment.id"></ion-radio>
					 </ion-item>
				</ion-list>

				<button ion-button color="primary" type="submit" round class="blue" 
				[disabled]="sum === 0">Оформить</button>
			</form>
		</div>
	</div>
</ion-content>