<ion-content class="static-page delivery-page blue" no-bounce>
	<nav-header></nav-header>
	<div class="static-page__wrap" *ngIf="page">
		<div class="static-page__left" animate-image>
			<div class="static-page__image" [style.background-image]="'url(' + page.image_url + ')'"></div>
		</div>
		<div class="static-page__right" animate-aside>
			<h1 #title class="static-page__title blue">{{page.name}}</h1>
			<div #description class="static-page__description" [innerHTML]="page.description"></div>

			<ul #list class="static-page__list" *ngIf="deliveries.length > 0">
				<li class="static-page__list-item" *ngFor="let delivery of deliveries">
					<div class="static-page__list-item-image">
						<img [src]="delivery.image_url">
					</div>
					<div class="static-page__list-item-info">
						<div class="static-page__list-item-title">{{delivery.name}}</div>
						<div class="static-page__list-item-description">
							{{delivery.description}}
							<br>
							<a *ngIf="delivery.link" [href]="env.address.link">{{env.address.title}}</a>
						</div>
					</div>
				</li>
			</ul>

			<img #illustartion class="static-page__illustration" [src]="page.illustration_url">
			<nav-footer></nav-footer>
		</div>
	</div>
</ion-content>