.catalog-item{
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	font-family: $base-font;
	height: 70vh;
	margin: 25px 15px 15vh 15px;
	transition:0.3s all;

    @media(max-width: 1440px) {
    	height: 65vh;
	}

	@media(max-width: 1024px) {
		transition:none;
	}
	@media(max-width: 767px) {
		height: auto;
		margin-bottom: 80px;
	}
	&__image{
		height: 50vh;
		overflow: hidden;
		position: relative;
		background-position: center center;
		background-size: cover;
		cursor: pointer;
		&:before{
			content: "";
			background-color: black;
			opacity: 0.2;
			position: absolute;
			z-index: 1;
			top:100%;
			left: 0;
			width: 100%;
			height: 100%;
			transition:0.3s all;

			@media(max-width: 1024px) {
				display: none;
			}
		}

		@media(max-width: 1440px) {
	    	height: 45vh;
		}
		@media(max-width: 1024px) {
			height: 40vh;
		}
		@media(max-width: 767px) {
			height: 260px;
		}

		@media(max-width: 580px) {
			height: 280px;
		}

		&--small{
			height: 40vh;
			@media(max-width: 1440px) {
		    	height: 35vh;
			}
			@media(max-width: 1024px) {
				height: 30vh;
			}
		}
	}
	&__info{
		padding: 34px;
		@media(max-width: 580px) {
			padding: 20px;
		}
	}
	&__title{
		@include _heading-3();
		position: relative;
		padding-bottom: 13px;
		margin-bottom: 11px;
		cursor: pointer;
		&:after{
			content: "";
			height: 1px;
			left: 50%;
			transform:translateX(-50%);
			bottom: 0;
			width:180px;
			position: absolute;
			transition:0.3s all;

		}

		&.yellow:after{
			background-color: $color-yellow;
		}

		&.blue:after{
			background-color: $color-blue;
		}
		@media(max-width: 1580px) {
			font-size: 16px;
		}
	}
	&__description{
		color: $color-text;
		font-size: 14px;
		line-height: 21px;
	    height: 42px;
	    overflow: hidden;
		@media(max-width: 1580px) {
			font-size: 13px;
		}
		@media(max-width: 580px) {
			display: none;
		}
	}
	&__price{
		font-family: $base-font-bold;
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	&__delivery{
		width: 60px;
		height: 60px;
		background: white;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		top:30px;
		right: 30px;
		background-image: url(../assets/images/icons/delivery1.svg);
	    background-size: 30px;
	    background-repeat: no-repeat;
	    background-position: center center;
	}


	&:hover{
		transform:scale(1.03);
		box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2);
		@media(max-width: 1024px) {
			transform:none;
			box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
		}
	}

	&:hover &__image:before{
		top:0;
	}

	&:hover &__title:after{
		width: 100%;
	}
}