<div class="catalog-item">
	<div class="catalog-item__image" (click)="openProduct(product.slug)" [class.catalog-item__image--small]="product.buy && product.price > 0" [style.background-image]="'url(' + product.image_url + ')'">
		<div *ngIf="product.delivery" class="catalog-item__delivery" tooltip="Возможна оставка Новой Почтой!" positionV="bottom" ></div>
	</div>
	<div class="catalog-item__info">
		<div class="catalog-item__title" (click)="openProduct(product.slug)" [ngClass]="color">{{product.title}}</div>
		<div class="catalog-item__description" [innerHTML]="product.short_description"></div>
		<div class="catalog-item__price-info" *ngIf="product.buy && product.price > 0">
			<div class="catalog-item__price">{{product.price | currency}}</div>
			<button ion-button color="primary" round class="catalog-item__button" [add-to-basket]="product.id" [ngClass]="color">Заказать</button>
		</div>
	</div>
</div>