<div class="basket-order">
	<h1 class="basket-order__title" *ngIf="products.length > 0">Товары</h1>
	<div class="basket-order__slider" [class.basket-order__slider--empty]="products.length === 0">
		<ion-slides [slidesPerView]="count" direction="vertical" #Slides>
		  <ion-slide *ngFor="let product of products; index as i">
		  	<div class="basket-order__item">
		  		<div class="basket-order__item-image" [style.background-image]="'url(' + product.image_url + ')'"></div>
		  		<div class="basket-order__item-info">
		  			<div class="basket-order__item-title">{{product.title}}</div>
		  			<div class="basket-order__item-calc">
		  				<div class="basket-order__item-input">
		  					<div class="basket-order__item-dec" (click)="decrement(product.id)" [class.disabled]="basketProducts[product.id] === 1"></div>
		  					<div class="basket-order__item-count">{{basketProducts[product.id]}}</div>
		  					<div class="basket-order__item-inc" (click)="increment(product.id)"></div>
		  				</div>
		  				<div class="basket-order__item-price">{{(product.price * basketProducts[product.id]) | currency}}</div>
		  				<div class="basket-order__item-remove" (click)="remove(i)"></div>
		  			</div>
		  		</div>
		  	</div>
		  </ion-slide>
		</ion-slides>
		<div *ngIf="slides">
			<div class="arrow-up" (click)="prev()" *ngIf="!slides.isBeginning()">
				<img src="assets/images/icons/arrow-yellow.svg">
			</div>
			<div class="arrow-down" (click)="next()" *ngIf="!slides.isEnd()">
				<img src="assets/images/icons/arrow-yellow.svg">
			</div>
		</div>
	</div>

	<h2 class="basket-order__sum" *ngIf="products.length > 0">Итого к оплате: {{sum | currency}}</h2>
	<div *ngIf="products.length === 0" class="basket-order__empty">
		<h2 class="white">В вашей корзине пока нет товаров!</h2>
		<h3 class="white">Но не расстраивайтесь, у нас очень большой выбор:</h3>

		<div class="basket-order__menu">
			<div class="basket-order__menu-item" *ngFor="let item of menuItems" (click)="goTo(item.page, item.category)">
				<div class="basket-order__menu-icon">
					<img src="assets/images/icons/{{item.icon}}.svg">
				</div>
				<div class="basket-order__menu-title">{{item.name}}</div>
			</div>
		</div>
	</div>

</div>