.basket-order{
	padding: 30px;
	&__title{
		color: white;
		@media(max-width: 1024px){
			margin-top: 55px;
			margin-bottom: 20px;
		}
	}

	&__sum{
		@include _heading-2();
		color: white;
		text-align: right;
		@media(max-width: 1024px){
			font-size: 18px;
			text-align: left;
		}
	}

	&__slider{
		overflow: hidden;
		position: relative;
		height: 65vh;
		padding-right: 55px;

		&--empty {
			visibility: none;
    		height: 0;
		}

		@media(max-width: 768px) {
			height: auto;
			max-height: 420px;
		}

		@media(max-width: 580px) {
			height: 300px;
			padding-right: 40px;
			width: calc(100% + 10px);
		}
	}

	&__item{
		border-radius: 15px;
	  	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
	  	background-color: #ffffff;
	  	overflow: hidden;
	  	display: flex;
	  	position: relative;
	  	@media(max-width: 1024px) {
	  		display: block;
	  	}
	}
	&__item-image{
		width: 150px;
		height: 150px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		@media(max-width: 1024px) {
			width: 100%;
			height: 140px;
		}
	}

	&__item-info{
		padding: 30px;
		@media(max-width: 1024px) {
			padding: 20px;
		}
	}

	&__item-title{
		font-family: $base-font;
		font-size: 18px;
		height: 42px;
		margin-bottom: 10px;
		text-align: left;
		display: flex;
		align-items:center;
		@media(max-width: 1024px) {
			font-size: 16px;
			height: 36px;
		}
	}

	&__item-calc{
		display: flex;
	}

	&__item-input{
		display: flex;
		align-items:center;
		margin-right: 10px;
	}

	&__item-dec, &__item-inc{
		cursor: pointer;
		height: 30px;
	    width: 26px;
	    margin: 0 10px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		&.disabled{
			opacity: 0.2;
			cursor: default;
		}
	}

	&__item-dec{
		background-image: url($pathImages + 'icons/minus.svg');
	}

	&__item-inc{
		background-image: url($pathImages + 'icons/plus.svg');
	}

	&__item-price{
		font-family: $base-font-bold;
		font-size: 20px;
		@media(max-width: 580px) {
			font-size: 16px;
		}
	}

	&__item-remove{
		position: absolute;
		top:15px;
		right: 15px;
		height: 30px;
	    width: 26px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		background-image: url($pathImages + 'icons/close.svg');
	}
	.arrow-up, .arrow-down{
		position: absolute;
		right: 0;
		cursor: pointer;
	}
	.arrow-up{
		top:15px;
	}

	.arrow-down{
		bottom:15px;
		transform:rotate(180deg);
	}

	&__menu{
		margin: 20px 0;
	}
	&__menu-item{
		display: flex;
		align-items:center;
		margin: 20px 0;
		padding: 20px;
		cursor: pointer;
		background: white;
		border-radius: 15px;
		box-shadow: 0 10px 15px rgba(0,0,0,0.1);
		transition: 0.3s all;
		&:hover{
			transform:scale(1.1);
		}

	}
	&__menu-icon{
		width: 50px;
		height: 50px;
		margin-right: 20px;
		img{
			height: 100%;
		}
	}
	&__menu-title{
		font-family: $base-font;
	}

	&__empty{
		padding: 30px 50px;
		@media(max-width: 1024px) {
			padding: 20px;
		}
		@media(max-width: 375px) {
			padding: 20px 0;
		}
	}
}