.catalog-detail{

	&__balloons{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
	    width: 420px;
	    transform: translate(10%, 30%);
	}
	&__arrows-wrap{}
	&__arrows{
		display: flex;
		padding-left: 50px;

		@media(max-width: 580px) {
			width: 100%;
			display: inline-block;
		    margin-top: -40px;
			padding: 0 50px;
		}
	}
	&__arrow-prev,&__arrow-next{
		display: flex;
		cursor: pointer;
		width: 180px;

		@media(max-width: 580px) {
			width: 20px;
    		display: block;
    		float: left;

			img{
				width: 100%;
			}
		}

	}
	&__arrow-prev img{
		transform:rotate(-90deg);
	}

	&__arrow-next {
		@media(max-width: 580px) {
			float: right;
		}
	}
	&__arrow-next img{
		transform:rotate(90deg);
	}

	&__category{
		font-family: $base-font;
		padding-left: 50px;
		background-image: url($pathImages + 'icons/arrow-back.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center left;
		color: $color-text;
		cursor: pointer;
		display: inline-block;
		float: right;


        @media (max-width: 1024px) {
        	float: none;
        	margin-top: 40px;
        	display: block;
        }

		@media(max-width: 580px) {
			margin-top: 10px;
		}
	}

	&__delivery{
		width: 60px;
		height: 60px;
		background: white;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		top:110px;
		right: 60px;
		background-image: url($pathImages + 'icons/delivery1.svg');
	    background-size: 30px;
	    background-repeat: no-repeat;
	    background-position: center center;


		@media(max-width: 580px) {
			top:100px;
			right: 50px;
			width: 40px;
			height: 40px;
	    	background-size: 20px;
		}
	}

	&__buy{
		display: flex;
		width: 100%;
		margin-top: 30px;

		@media(max-width: 580px) {
			display: block;
		}
	}

	&__button{
		margin-right: 30px;

		@media(max-width: 580px) {
			margin-right: 0;
			width: 100%!important;
		}
	}

	&__price{
		font-family: $base-font-bold;
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 20px;
		@media(max-width: 580px) {
			text-align: center;
		}
	}

	.static-page__image {
		@media(max-width: 580px) {
			height: 400px;
		}
	}

}

@keyframes slideBottom {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}
