<ion-content class="static-page catalog-detail" *ngIf="isProductLoaded" [ngClass]="currentTheme.color" no-bounce>
	<nav-header></nav-header>

	<div class="static-page__wrap">
		<div class="static-page__left" animate-image>
			<div *ngIf="product.delivery" class="catalog-detail__delivery" tooltip="Возможна оставка Новой Почтой!" positionV="bottom" ></div>
			<ion-slides [pager]="product.images.length > 1" spaceBetween="30">
			  <ion-slide *ngFor="let image of product.images">
			    <div class="static-page__image" [style.background-image]="'url(' + image.url + ')'"></div>
			  </ion-slide>
			</ion-slides>
		</div>
		<div class="static-page__right" animate-aside>
			<div class="catalog-detail__category" (click)="back()">{{ product.subcategory ? product.subcategory.title : product.category.title}}</div>
			<h1 class="static-page__title" [ngClass]="currentTheme.color">
				{{product.title}}
			</h1>
			<div class="static-page__description" [innerHTML]="product.description">
			</div>
			<div class="catalog-detail__buy"  *ngIf="product.buy && product.price > 0">
				<button ion-button color="primary" round class="catalog-detail__button" [ngClass]="currentTheme.color" [add-to-basket]="product.id">Заказать</button>
				<div class="catalog-detail__price">{{product.price | currency}}</div>
			</div>
			<div class="catalog-detail__arrows-wrap">
				<div class="catalog-detail__arrows">
					<div class="catalog-detail__arrow-prev" *ngIf="product.prev" (click)="openProduct(product.prev.slug)" tooltip="Открыть предыдущий товар из этой категории" positionV="bottom" >
						<img src="assets/images/icons/arrow-{{currentTheme.color}}.svg">
					</div>
					<div class="catalog-detail__arrow-next" *ngIf="product.next" (click)="openProduct(product.next.slug)" tooltip="Открыть следующий товар из этой категории" positionV="bottom" >
						<img src="assets/images/icons/arrow-{{currentTheme.color}}.svg">
					</div>
				</div>
			</div>
			<img class="static-page__illustration" *ngIf="currentTheme.theme==='balloons'" src="assets/images/bg/balloon7.svg">
			<nav-footer></nav-footer>
		</div>
	</div>
</ion-content>