
<div class="app app-header-fixed ">
  

    <div class="container w-xxl w-auto-xs" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
      <a href class="navbar-brand block m-t">Admin panel</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Sign up to find interesting thing</strong>
        </div>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <%= f.email_field :email, class:"form-control no-border", placeholder: 'Email', autofocus: true %>
            </div>
            <div class="list-group-item">
               <%= f.password_field :password, class:"form-control no-border", placeholder: 'Password', autocomplete: "off" %>
            </div>
            <div class="list-group-item">
                <%= f.password_field :password_confirmation, class:"form-control no-border", placeholder: 'Password confirmation', autocomplete: "off" %>
            </div>
          </div>
          
          <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block" %>
        
        <%= render "devise/shared/links" %>
      <% end %>
        
      </div>
 
    </div>


</div>



