<ion-content class="static-page about-page yellow" no-bounce>
	<nav-header></nav-header>
	<div class="static-page__wrap" *ngIf="page">
		<div class="static-page__left" animate-image>
			<div class="static-page__image" [style.background-image]="'url(' + page.image_url + ')'"></div>
		</div>
		<div class="static-page__right" animate-aside>
			<h1 #title class="static-page__title yellow">{{page.name}}</h1>
			<div #description class="static-page__description" [innerHTML]="page.description"></div>
			<nav-footer></nav-footer>
		</div>
	</div>
</ion-content>