@mixin font-import($name, $filename, $weight, $style) {
  @font-face {
    font-family: $name;
    src: url($pathFont + $filename + '.eot');
    src: url($pathFont + $filename + '.eot?#iefix') format('embedded-opentype'),
    url($pathFont + $filename + '.ttf') format('truetype'),
    url($pathFont + $filename + '.woff') format('woff'),
    url($pathFont + $filename + '.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}


@mixin _heading-1() {
    font-size: 36px!important;
    line-height: 43px!important;
    font-family: $base-font-bold;
    @media(max-width: 1024px) {
        font-size: 28px!important;
    }
}

@mixin _heading-2() {
    font-size: 29px!important;
    line-height: 35px!important;
    font-family: $base-font-bold;
    @media(max-width: 1024px) {
        font-size: 24px!important;
    }
    @media(max-width: 375px) {
        font-size: 20px!important;
    }
}

@mixin _heading-3() {
    font-size: 20px!important;
    line-height: 35px!important;
    font-family: $base-font;
    font-weight: bold;
    @media(max-width: 1024px) {
        font-size: 18px!important;
        line-height: 28px!important;
    }
    @media(max-width: 580px) {
        font-size: 16px!important;
        line-height: 24px!important;
    }
}


@mixin _heading-4() {
    font-size: 16px!important;
    line-height: 19px!important;
    font-family: $base-font-bold;
}


@mixin _mix-bg() {
    background-image:  url(../assets/images/bg/blue-bg.svg);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:  url(../assets/images/bg/yellow-wave.svg);
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        pointer-events: none;
        transform: translateY(100%);
        animation: 1s bg 2s forwards;
        will-change: transform;

    }
}

@mixin _mix-tablet-bg() {
    background-image: url(../assets/images/bg/tablet-yellow-wave.svg), url(../assets/images/bg/blue-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    &:before{
        content: none;
    }
}

@mixin _mix-mobile-bg() {
    background-image:  url(../assets/images/bg/mobile-yellow-wave.svg), url(../assets/images/bg/blue-bg.svg);
    background-size: contain, cover;
    background-repeat: no-repeat;
    position: relative;
}

@mixin _mix-tablet-small-bg() {
    background-image: url(../assets/images/bg/tablet-yellow-wave-2.svg), url(../assets/images/bg/blue-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
}


@mixin _yellow-bg() {
    background-image:  url(../assets/images/bg/yellow-wave.svg), url(../assets/images/bg/yellow-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

@mixin _yellow-tablet-bg() {
    background-image:  url(../assets/images/bg/tablet-yellow-wave.svg), url(../assets/images/bg/yellow-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

@mixin _yellow-mobile-bg() {
    background-image:  url(../assets/images/bg/mobile-yellow-wave.svg), url(../assets/images/bg/yellow-bg.svg);
    background-size: cover, cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@mixin _yellow-tablet-small-bg() {
    background-image:  url(../assets/images/bg/tablet-yellow-wave-2.svg), url(../assets/images/bg/yellow-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}


@mixin _blue-bg() {
    background-image:  url(../assets/images/bg/blue-wave.svg), url(../assets/images/bg/blue-bg.svg);
    background-size: contain, cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

@mixin _backgrounds() {
    &.yellow{
        @include _yellow-bg();
        .swiper-pagination-bullet{
            background-color: $color-yellow-dark;
        }

        @media(max-width: 1024px) {
            @include _yellow-tablet-bg();
        }
        @media(max-width: 768px) {
            @include _yellow-tablet-small-bg();
        }

        @media(max-width: 580px) {
            @include _yellow-mobile-bg();
        }
    }
    &.blue{
        @include _blue-bg();
        .swiper-pagination-bullet{
            background-color: $color-blue-dark;
        }
    }
}

@keyframes bg {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}


