@include font-import('RussoOne', 'RussoOne-Regular', normal, normal);
@include font-import('Comfortaa', 'Comfortaa-Regular', normal, normal);
@include font-import('Comfortaa', 'Comfortaa-Light', 100, normal);
@include font-import('Comfortaa', 'Comfortaa-Bold', bold, normal);


body {
	font-family: $base-font;
	font-size: 14px;
	color: $color-text;
}

.__heading-1, h1 {
	@include _heading-1();
}

.__heading-2, h2 {
	@include _heading-2();
}

.__heading-3, h3 {
	@include _heading-3();
}

.__heading-4, h4 {
	@include _heading-4();
}
a {
	cursor: pointer;
}

.button {
	&.button-md-primary, &.button-ios-primary{
		width: 180px;
		box-shadow: none!important;
		text-transform: none;
		font-family: $base-font!important;
		font-size: 14px;
		height: 41px;
		font-weight: bold;
		cursor: pointer;
		&.yellow{
			background-color: $color-yellow-dark!important;
			.button-effect {
				background-color: $color-yellow;
			}
		}
		&.blue{
			background-color: $color-blue!important;
			.button-effect {
				background-color: $color-blue-dark;
			}
		}

		&:hover{
			box-shadow: 0px 10px 30px rgba(0,0,0,0.1)!important;
		}
	}
}

.static-page {
	@include _backgrounds();

	&__wrap {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    	overflow: hidden;
    	@media (max-width: 768px) {
    		position: relative;
    		height: auto;
    	}
	}
	&__left{
	    margin-left: $aside-width;
		width: calc(50% + 130px - 260px);
		position: absolute;
		left:0;
		top:0;
		height: 100%;
		opacity: 1;
		@media (max-width: 1440px) {
	    	margin-left: $aside-width-small;
			width: calc(50% + 40px - 80px);
		}

		@media (max-width: 1024px) {
			margin-left: 0;
			width: 45%;
		}

		@media (max-width: 768px) {
			width: 100%;
			position: relative;
			height: auto;
		}
	}
	&__image {
		position: absolute;
		margin: 80px 30px;
		top:0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		box-shadow: $catalog-shadow;
		border-radius: $catalog-border-radius;
		width: calc(100% - 60px);
		height: calc(100% - 160px);

		@media (max-width: 768px) {
			height: 40vh;
			position: relative;
			margin-bottom: 40px;
		}
	}


	&__right {
		position: absolute;
		right: 0;
		width: calc(50% - 130px);
		background-color: white;
		top:0;
		height: 100%;
		box-shadow: $catalog-shadow;
		transform: translateX(0%);
		will-change:transform;
		padding: 50px 100px;

		@media (max-width: 1440px) {
			width: calc(50% - 40px);
			padding: 30px 50px;
		}

		@media (max-width: 1024px) {
			width: 55%;
			padding: 30px 70px;
		}

		@media (max-width: 768px) {
			width: 100%;
			position: relative;
			padding-bottom: 0px;
		}

		@media(max-width: 580px) {
			padding: 25px;
		}
	}
	&__title{
		position: relative;
		margin-top: 100px;
		//transform: translateX(100%);
		//opacity: 0;
		padding-bottom: 37px;
		margin-bottom: 36px;
		display: inline-block;
		&:after{
			content: "";
			height: 1px;
			left: 0;
			bottom: 0;
			width:0px;
			position: absolute;
			animation: 1s showLine forwards 1s;

			@media(max-width: 580px) {
				animation: 1s showLineMobile forwards 1s;
			}

		}

		&.yellow {
			&:after{
				background-color: $color-yellow;
			}
		}

		&.blue {
			&:after{
				background-color: $color-blue;
			}
		}


		@media (max-width: 1024px) {
		    font-size: 24px;
		    margin-top: 30px;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
		}


        @media(max-width: 580px) {
        	font-size: 20px;
        }

	}

	&__description{
		font-family: $base-font;
		font-size: 14px;
		line-height: 30px;
		max-width: 600px;
		position: relative;
		//transform: translateX(100%);
		//opacity: 0;

		@media (max-width: 1024px) {
			font-size: 13px;
			line-height: 21px;
		}
	}

	&__list{
		list-style-type:  none;
		padding:0;
		margin: 10px 0 0 0;
		font-family: $base-font;
		line-height: 21px;
		@media (max-width: 1024px) {
			font-size: 13px;
		}
	}

	&__list-item {
		margin-bottom: 24px;
		display: flex;
		position: relative;
		//opacity: 0;
		//transform:translateX(100%);
		will-change:transform;

		@media (max-width: 1024px) {
			margin-bottom: 0px;
		}
	}

	&__list-item-image {
		display: inline-block;
		width: 90px;
		height: 90px;
		padding: 20px;
		@media (max-width: 1024px) {
			width: 70px;
			height: 70px;
			padding: 15px;
		}

		@media(max-width: 580px) {
			width: 60px;
			height: 60px;
			padding: 10px;
		}
	}
	&__list-item-info {
		width: calc(100% - 90px);
		padding: 20px;

		@media (max-width: 1024px) {
			padding: 15px;
			width: calc(100% - 70px);
		}

		@media(max-width: 580px) {
			padding: 10px;
			width: calc(100% - 60px);
		}
	}

	&__list-item-title{
		@include _heading-4();
		margin-bottom: 14px;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
	}

	&__illustration {
		position: absolute;
		right: 0;
		bottom: 0;
	    max-width: 360px;
	    max-height: 480px;
	    margin-bottom: -110px;
	    margin-right: -110px;
		pointer-events: none;
		@media (max-width: 1440px) {
			max-width: 300px;
			max-height: 360px;
		    margin-bottom: -70px;
		    margin-right: -70px;
		}

		@media (max-width: 1024px) {
			max-width: 220px;
			max-height: 300px;
		    margin-bottom: -30px;
		    margin-right: -30px;
		}

		@media (max-width: 768px) {
			max-width: 180px;
			max-height: 260px;
		    margin-bottom: -40px;
		    margin-right: -40px;
		}

		@media(max-width: 580px) {
			max-width: 120px;
			max-height: 200px;
		    margin-bottom: -30px;
		    margin-right: -30px;

		}
	}
}

.form {
	.label, .text-input{
		color: $color-title-black!important;
		font-family: $base-font;
	}

	.static-page__description{
		transform:none;
		opacity: 1;
	}
}

.white{
	color: white;
}

.modal-wrapper{
	box-shadow: none!important;
}

@keyframes showLine {
	from {
		width: 0;
	}
	to {
		width:310px;
	}
}

@keyframes showLineMobile {
	from {
		width: 0;
	}
	to {
		width:180px;
	}
}