/* PATHS */
$pathFont: "../assets/fonts/";
$pathImages: "../assets/images/";

/* aside */
$aside-width: 260px;
$aside-width-small: 80px;
$category-width:400px;

$base-font: 'Comfortaa';
$base-font-bold: 'RussoOne';



/* COLORS */

$color-title: white;
$color-title-black: #4A4A4A;
$color-text: #C1C1C1;
$color-yellow: #F8E71C;
$color-yellow-dark: #F5A623;
$color-blue: #4AB4E2;
$color-blue-dark: #4A90E2;
$color-grey: #9b9b9b;



$catalog-border-radius: 15px;
$catalog-shadow: 0 30px 30px rgba(0,0,0,0.1);
$catalog-shadow-hover: 0 20px 50px rgba(0,0,0,0.3);

